/* Last rule and specificity  */

/* least amount of specificity */
* {
  color: green;
}

.special {
  color: green;
}

p {
  color: red;
}

p {
  color: blue;
}

#heading {
  color: red;
}

.heading {
  color: green;
}

/* combine selectors */

.container p {
  color: green;
}