/*
CSS BOX MODEL 
PADDING
MARGIN
BORDER
*/

/* * {
  margin: 0;
} */

h1, p {
  color: white;
}

h1 {
  background: red;
  padding: 10px;
  /* margin: 3rem;
  /* border-style: solid;
  border-width: 10px;
  border-color: chartreuse;
  border-bottom: 0.5rem dotted blue;
  border-bottom-style: double;
  border-bottom-color: green;
  border-bottom-width: 20px:  */
  border: 15px solid black;
  border-radius: 30px;
}

p {
  background: blue;
  padding: 20px;               /* all values */
  padding: 30px 60px;          /* top bottom */
  padding: 5px 20px 50px 40px; /* top right bottom left */
  margin: 4rem 4px 50px 10px;
  border: 7px dotted green;
  border-radius: 50%;
  margin-top: -50px;
}