div {
  height: 300px;
  color: white;
  border: 2px solid red;
}

.big-img {
  background: url('./big.jpg');
  background-repeat: no-repeat;
}

.small-img { /* if the div gets bigger and the image is not big enough to fit the div, the image repeats */
  background: url(./small.jpg);
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: space;
  background-repeat: round;
}

.folder-img {
  background: url(./images/folder.jpg);
}