@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&family=Trade+Winds&display=swap');

/*
font-size - size of the font
font-family - describes the font of the element 
font-stack
generic-family
serif sans-serif cursive fantasy monospace
*/

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h3 {
  font-family:'Courier New', Courier, monospace;
  font-size: 50px;
}

/* 
Google Fonts

generic serif, sans-serif, cursive, fantasy, monospace
*/

body {
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  font-family: 'Exo 2', sans-serif;
}

/* 
System fonts - a font that is already installed on the device of the user

fast load times
less headaches
project will look different
*/

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Trade Winds', cursive;
}

/* 
font weight - how thick/thin characters in text should be
font-style - sets font style for text
*/

body {
  font-family: 'Roboto', sans-serif;
}

.main-heading {
  font-family: 'Trade Winds', cursive;
}

.sub-heading {
  font-style: italic;
}

.one {
  font-weight: bold;
}

.two {
  font-weight: lighter;
  font-style: italic;
  font-style: oblique;
}

/*
text-align, text-indent 
*/

body {
  text-align: right;
}

.main-heading {
  text-align: center;
}

.sub-heading {

}

.one {

}

.two {
  text-align: left;
  text-indent: 6rem;
}