/*
box-sizing - default(content-box) 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-1, .box-2, .box-3 {
  width: 200px;
  height: 200px;
  color: white;
  font-size: 1.5rem;
}

.box-1 {
  background: red;
  padding: 20px;
}

.box-2 {
  background: blue;
}

.box-3 {
  background: green;
  padding: 20px;
}

/*
display: inline-block;
does not start a new line
browser respects margin, width, height
*/

a {
  font-size: 1.5rem;
  background: red;
  width: 40px;
  height: 40px;
  margin: 40px 10px;
  display: inline-block;
}

/*
display: none; - remove from the flow, hides element and collapses space
opacity: 0; visibility: hidden; hides element, preserves space
*/

.div {
  background: #f15025;
  margin: 10px;
  color: white;
  font-size: 1.3rem;
}

.none {
  display: none;
}

.opacity-1 {
  opacity: 1;
}

.opacity-5 {
  opacity: 0.5;
}
.opacity-0 {
  opacity: 0;
}

.visibility {
  visibility: hidden;
}