/*  
ELEMENTS HAVE THEIR DISPLAY SET BY DEFAULT
BLOCK - elements that start a new line an spans full width
INLINE - does not start a new line and spans the content
*/

.block {
  background: blue;
  color: white;
  width: 600px;
  margin: 0 auto;
}

.inline {
  background: red;
  color: white; 
  margin: 0 auto;
}

body {
  text-align: center;
}